ul{
  list-style-type: none;
}

span{
  font-weight: bold;
}

.allAppointments {
  margin-left: 40px;
  margin-top: 20px;
}


.selected {
  color: black;
}

#appointmentForm{
  float: bottom;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.open-button {
  border-radius: 4px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: 1px solid black;
  cursor: pointer;
  opacity: 0.8;
  /*position: fixed;*/
  bottom: 23px;
  right: 28px;
  width: 200px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.form-popup {
  display: none;
  /*position: fixed;*/
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}