
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

<div class = allAppointments >
	
	<table class="table table-light table-hover" style="width:100%">
		<thead class="thead-light">
			<tr>
				<th>Description</th>
				<th>Party</th> 
				<th>Id</th>
				<th>Start</th>
				<th>End</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let appointment of appointments" [class.selected]="appointment === selectedAppointment"(click)="onSelect(appointment)" >
				<td valign="top">{{appointment?.Description}} </td>
				<td valign="top">{{appointment?.Party}}</td>
				<td valign="top">{{appointment?.Id}}</td> 
				<td valign="top">{{appointment?.Start}}</td>
				<td valign="top">{{appointment?.End}}</td>
				<section >
					<button class="open-button " (click)="openForm()">View Appointment</button>
					<button class="open-button " (click)="delete(appointment.Id)">Delete</button>
				</section>
			</tr>
		</tbody>
	</table>
	<div class="form-popup" id="myForm">
		<form action="/action_page.php" class="form-container" *ngIf="selectedAppointment">
			<h3> Edit Appointment</h3> 
			<label for="description">Description</label>
			<input class="form-control" id="description" [(ngModel)]="selectedAppointment.Description" name="description">

			<label for="start">Start</label>
			<input type="datetime-local" class="form-control" id="start" [(ngModel)]="selectedAppointment.Start" name="start">

			<label for="end">End</label>
			<input type="datetime-local" class="form-control" id="end" [(ngModel)]="selectedAppointment.End" name="end">

			<label for="party">Party</label>
			<input class="form-control" id="party" [(ngModel)]="newParty" name="party">
			<label for="party">Notes</label>
			<select type="text" multiple class="form-control"  > 
				<option *ngFor="let note of selectedAppointment?.Notes" >{{note}}</option>
			</select>

			<form>
				<div class="form-group">
					<label for="new-note">New Note:</label>
					<input class="form-control" id="new-note" style="margin-bottom: 1rem; width: 70%;" [(ngModel)]="newNote"
					name="new-note">
					<button class="btn-secondary" (click)="addNote()">Add</button>
				</div>
			</form>
			<button type="submit" class="btn" (click)= "editAppointment()">Save</button>
			<button type="button" class="btn cancel" (click)="closeForm()">Cancel</button>
		</form>
		<script>

		</script>
	</div>

</div>
